if TARGET_SP9832E_10C20

config SYS_BOARD
	default "sp9832e_10c20"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "sharkle"

config SYS_CONFIG_NAME
	default "sp9832e_10c20"

config SYS_TEXT_BASE
	default 0x9f000000

endif
