if TARGET_UD710_2H10

config SYS_BOARD
	default "ud710_2h10"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "roc1"

config SYS_CONFIG_NAME
	default "ud710_2h10"

config SYS_TEXT_BASE
	default 0x9f000000

endif
