if TARGET_UMS7520_HAPS

config SYS_BOARD
	default "ums7520_haps"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "qogirn6pro"

config SYS_CONFIG_NAME
	default "ums7520_haps"

config SYS_TEXT_BASE
	default 0x9f000000

endif
