if TARGET_SP9860G_1H10_AL

config SYS_BOARD
	default "sp9860g_1h10_al"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "whale2"

config SYS_CONFIG_NAME
	default "sp9860g_1h10_al"

config SYS_TEXT_BASE
	default 0x9f000000

endif
