if TARGET_UDX710_HAPS

config SYS_BOARD
	default "udx710_haps"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "orca"

config SYS_CONFIG_NAME
	default "udx710_haps"

config SYS_TEXT_BASE
	default 0x9f000000

endif
