if TARGET_UMS312_3H10_4PRO

config SYS_BOARD
	default "ums312_3h10_4pro"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "sharkl5"

config SYS_CONFIG_NAME
	default "ums312_3h10_4pro"

config SYS_TEXT_BASE
	default 0x9f000000

endif
