if TARGET_SP9853I_2H10

config SYS_BOARD
	default "sp9853i_2h10"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "iwhale"

config SYS_CONFIG_NAME
	string "Board Config Header file"
	default "sp9853i_2h10"
	help
	  This option selects the board config file in
	  include/configs/ directory to be used to build U-Boot.

config SYS_TEXT_BASE
	default 0x5ec00000

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select BULLHILL

config DEFAULT_DEVICE_TREE
	string "Board Device Tree Source (dts) file"
	default "sp9853i_2h10"
	help
	  This option selects the board Device Tree Source (dts) file in
	  arch/x86/dts/ directory to be used to build U-Boot.

config SYS_CAR_ADDR
	hex "Board specific Cache-As-RAM (CAR) address"
	default 0x5f000000
	help
	  This option specifies the board specific Cache-As-RAM (CAR) address.

config SYS_CAR_SIZE
	hex "Board specific Cache-As-RAM (CAR) size"
	default 0x4000
	help
	  This option specifies the board specific Cache-As-RAM (CAR) size.

endif
