config SPRD_USER
	bool "Sprdtrum lookat tool support"
	depends on SPRD_USER
	default n
	help
	  this macro is for lookat driver, lookat is a debug tool that is used to
	  view the content of arm/arm64 of the address space through usb port,
	  such as the register of each module, DDR address space, etc.
	  When in doubt, say n

