if TARGET_UD710_ORCA_HAPS

config SYS_BOARD
	default "ud710_orca_haps"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "roc1"

config SYS_CONFIG_NAME
	default "ud710_orca_haps"

config SYS_TEXT_BASE
	default 0x9f000000

endif
