if TARGET_SP9650_HAPS

config SYS_BOARD
	default "sp9650_haps"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "orca"

config SYS_CONFIG_NAME
	default "sp9650_haps"

config SYS_TEXT_BASE
	default 0x9f000000

endif
