if TARGET_SP9863A_3H10

config SYS_BOARD
	default "sp9863a_3h10"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "sharkl3"

config SYS_CONFIG_NAME
	default "sp9863a_3h10"

config SYS_TEXT_BASE
	default 0x9f000000

endif
