if TARGET_SP9850KA_2C30

config SYS_BOARD
	default "sp9850ka_2c30"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "sc9833"

config SYS_CONFIG_NAME
	default "sp9850ka_2c30"

config SYS_TEXT_BASE
	default 0x9f000000

endif
