CONFIG_X86=y
CONFIG_VENDOR_SPRD=y
CONFIG_TARGET_SP9861_VP=y
CONFIG_TSC_FREQ_IN_MHZ=3744
CONFIG_INTEL_MICROCODE=y
CONFIG_MAX_CPUS=8
CONFIG_SMP=y
CONFIG_SP9861_DDR4G=y
CONFIG_SP9861_DDR4G_SINGLE=y
CONFIG_TSC_CALIBRATION_BYPASS=y
CONFIG_CMD_CPU=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NFS is not set
CONFIG_BOOTSTAGE=y
CONFIG_BOOTSTAGE_REPORT=y
CONFIG_CMD_BOOTSTAGE=y
CONFIG_OF_CONTROL=y
CONFIG_CPU=y
CONFIG_USE_PRIVATE_LIBGCC=y
CONFIG_SYS_VSNPRINTF=y
CONFIG_EMMC_BOOT=y
CONFIG_GENERIC_MMC=y
