CONFIG_ARM=y
CONFIG_VENDOR_SPRD=y
CONFIG_TARGET_UDX710_3H10_32B=y
CONFIG_OF_CONTROL=y
# CONFIG_FPGA is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_SOURCE is not set
