if TARGET_J1VDK

config SYS_BOARD
	default "j1vdk"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "sharklj1"

config SYS_CONFIG_NAME
	default "j1vdk"

config SYS_TEXT_BASE
	default 0x9f000000

config SMT_VALUE
	hex
	default 0x00
	help
	  The value to decide whether enable smt

endif
