if TARGET_UMS510_HAPS

config SYS_BOARD
	default "ums510_haps"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "sharkl5"

config SYS_CONFIG_NAME
	default "ums510_haps"

config SYS_TEXT_BASE
	default 0x9f000000

endif
