BSP_MODULES_LIST="
sample.ko
lis2dh.ko
ltr_558als.ko
mali.ko
sprdwl_ng.ko
sprd_fm.ko
sprdbt_tty.ko
sprd_sensor.ko
sprd_camera.ko
sprd_flash_drv.ko
flash_ic_sc2720.ko
flash_ic_wd3124da.ko
"
#camera version config
export BSP_BOARD_CAMERA_MODULE_ISP_VERSION="dcam_r6p0_isp_r6p91"
export BSP_BOARD_CAMERA_MODULE_CSI_VERSION="r2p0"

#wcn bt driver config
export BSP_BOARD_UNISOC_WCN_SOCKET="sipc"

#wcn module version config
export BSP_BOARD_WLAN_DEVICE="sc2332"
