if TARGET_SP7731E_1H10

config SYS_BOARD
	default "sp7731e_1h10"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "pike2"

config SYS_CONFIG_NAME
	default "sp7731e_1h10"

config SYS_TEXT_BASE
	default 0x9f000000

endif
